{% extends 'base.html.twig' %}


{% block body %}
<section>
<link rel="stylesheet" type="text/css" href="index.css">
<style>
	#section{
		margin-inline-start: 305 px;
		background-color: blue;
	}
   
</style>

Médecins de l'hopital: <br/>

{%for medecin in medecins%}
	<div class="contoursmaison">
		<h2>{{medecin.nom}} {{medecin.prenom}}</h2>
		<img src="https://github.com/Disconnected59/CentreHospitalier/blob/master/GestionRendezVous/images/telephone.png?raw=true" alt="Photo du medecin" width="150" height="auto" >
		<p> {{medecin.getService().getLibelle()}}</p>
		<!--{{medecin.nom}}-{{medecin.prenom}}-{{medecin.getService().getLibelle()}}-->
	</div>
{%else%}
	<div class="contoursmaison">
		Pas de medecins.
	</div>
{%endfor%}
</div>
</section>

{%endblock%}
