{% extends 'base.html.twig' %}


{% block body %}
<section>
<link rel="stylesheet" type="text/css" href="index.css">
<style>
	#section{
		margin-inline-start: 305 px;
		background-color: blue;
	}
   
</style>

Médecins de l'hopital: <br/>

{%for medecin in medecins%}
	<div class="contoursmaison">
		<h2>{{medecin.nom}} {{medecin.prenom}}</h2>
		<p> <img src='../../images/telephone.jpg' width="300" height="auto" alt="Photo du medecin">
		{{medecin.getService().getLibelle()}}</p>
		<!--{{medecin.nom}}-{{medecin.prenom}}-{{medecin.getService().getLibelle()}}-->
	</div>
{%else%}
	<div class="contoursmaison">
		Pas de medecins.
	</div>
{%endfor%}
</div>
</section>

{%endblock%}
