{% extends 'base.html.twig' %}
{% block body %}
<br/><br/><br/>
{% for uneConsult in consultation %}
<li> 
	{% if uneConsult.getEstValidee() == 0 %}
	{% if uneConsult.getIdMedecin().getService() == assistant%}
	RDV de {{uneConsult.getPatient().getNom()}} {{uneConsult.getPatient().getPrenom()}} avec Docteur {{uneConsult.getIdMedecin().getNom()}}
	<a href="{{path('accepter',{id:uneConsult.getId()})}}">Accepter</a>
	<br/>
	<a href="{{path('supprimerConsult',{id:uneConsult.getId()})}}">Supprimer</a>
	{%endif%}
	{% endif %}
</li>
{% else %}
Pas de consultation trouvé
{% endfor %}

{% endblock %}