{% extends 'base.html.twig' %}




{% block body %}
<br/>
<br/>
<br/>
Voici vos rendez-vous à venir : 
<br/>
{% for rdv in rdvs %}

{% if rdv.getEstValidee() == 1 %}
Dr. {{rdv.getIdMedecin().getNom()}} {{rdv.getIdMedecin().getPrenom()}}
<br/>
Le : {{rdv.getDate()|date("Y/m/d")}}
<br/>
A : {{rdv.getHeure()}} heure

<br/>
<a href="{{path('supprimer',{id:rdv.getId()})}}">supprimer</a>
<br/>

{% endif %}

{%endfor%}

<br/>
<br/>
Prendre rendez-vous avec : 

		{{ form_start(form)}}
    	{{ form_widget(form)}}
    	{{ form_end(form)}}



{% endblock %}